*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body{
    min-width: 480px;
}
div.kitten{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 600px;
  background-image: url(../assets/img/maxresdefault.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

picture{
  display: grid;
  align-content:flex-end;
}

@media screen and (min-width:1000px){

  div.kitten{
    background-image: url(../assets/img/Landscape.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width:600px) and (max-width:900px){

  div.kitten{
    background-image: url(../assets/img/dawn.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
